* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/backgroundimage.png);
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: auto;
}

/* header */

header {
    background-color: #ffffff;
    position: relative;
    top: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: solid 1px #cccccc;
    padding: 10px;
    text-align: center;
}

#clearfix::after {
    clear: both;
}

.top {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    height: 100%;
}

.name {
    position: absolute;
    float: left;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin: auto;
    padding: 10px;
    top: 13px;
}

.menu {
    float: right;
    position: absolute;
    right: 0;
    top: 40px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #777777;
}

/* About Content */

.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 15px;
    height: auto;
    border: solid 1px #cccccc;
    margin-bottom: 30px;
    line-height: 25px;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    clear: both;
}

.about {
    margin: auto;
    height: auto;
    line-height: 1.5;
    margin-left: 120px;
}

.portrait {
    float: left;
    height: 150px;
    margin-bottom: 80px;
    margin-top: 20px;
}

/* footer */
.copyright {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #666666;
    color: white;
    height: 50px;
    padding: 30px;
    border-top: 8px solid #4aaaa5;
}

/* contact form */
input {
    width: 100%;
    height: 30px;
    padding: 10px;
}

.message {
    height: 150px;
    width: 100%;
    padding: 10px;
    margin-top: 6px;
}

.submit {
    width: 100px;
    background-color: #4aaaa5;
    color: white;
    border: none;
    padding: auto;
}

/* portfolio */
.pics {
    height: 140px;
    width: 140px;
    float: left;
    z-index: 1;
}

.items {
    background-color: #4aaaa5;
    color: white;
    width: 140px;
    height: 30px;
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 300px;
}

#item1 {
    left: 120px;
    top: 200px;
}

#pic1 {
    margin-left: 100px;
}

#item2 {
    left: 390px;
    top: 200px;
}

#pic2 {
    margin-left: 125px;
}

#item3 {
    left: 665px;
    top: 200px;
}

#pic3 {
    margin-left: 150px;
}

#item4 {
    left: 245px;
    top: 360px;
    width: 180px;
}

#pic4 {
    height: 160px;
    width: 180px;
    margin-left: 230px;
}

#item5 {
    left: 545px;
    top: 360px;
    width: 180px;
}

#pic5 {
    height: 160px;
    width: 180px;
    margin-left: 120px;
}

.links {
    text-decoration: none;
    color: white;
}

.images {
    position: relative;
    display: inline-flex;
    text-align: center;
}

#portfoliocontainer {
    height: 420px;
    position: relative;
}
